<link rel="stylesheet" href="/css/perfil.css">

<script>


    window.onload = function() {
        document.getElementById("panel-intereses").innerHTML = `{{{preferencias}}}`;

        //check for no image (code for jpg doesnt work, whatevs)
        if(document.getElementById('profile_pic').naturalHeight == 0) { //not loaded
            document.getElementById('profile_pic').src = '/img/profile_pics/{{user.username}}.jpg'; //intentar cargar un jpg
            if(document.getElementById('profile_pic').naturalHeight == 0) { //si aun asi no carga, poner placeholder
                document.getElementById('profile_pic').src = "/img/profile_pics/placeholder.png";
            }
            
        }
    }
    
    function editar_datos() {
        alternar("mail", "mail-edit", "inline-block");
        relevar_valor("mail", "mail-edit", "text", "value");
        
        alternar("birth_date", "birth-date-edit", "inline-block");
        relevar_valor("birth_date", "birth-date-edit", "text", "date");

        alternar("sex", "sex-edit", "inline-block");
        if(document.getElementById("sex").innerText == "M") {
            document.getElementById("sex-edit-m").checked = true;
            document.getElementById("sex-edit-f").checked = false;
        } else {
            document.getElementById("sex-edit-f").checked = true;
            document.getElementById("sex-edit-m").checked = false;
        }

        document.getElementById('pfp_upload').style.display = "block";

        alternar("btn-editar-datos", "btn-guardar-datos", "inline-block");
    }

    function enviar_datos() {
        alternar("mail", "mail-edit", "inline-block");
        

        alternar("birth_date", "birth-date-edit", "inline-block");

        alternar("sex", "sex-edit", "inline-block");

        var xhr = new XMLHttpRequest();
        xhr.open("PUT", `/api/usuario/{{user.username}}`, true); //TODO: quizas cambiar a PUT
        xhr.setRequestHeader('Content-Type', 'application/json');
        var sex_valor;
        if(document.getElementById("sex-edit-f").checked) {
            sex_valor = 'F';
        } else {
            sex_valor = 'M';
        }
        var json = JSON.stringify({
                correo: document.getElementById("mail-edit").value,
                fecha_nacimiento: document.getElementById("birth-date-edit").valueAsDate,
                sexo: sex_valor
            });
        console.log(`json a mandar: ${json}`)
        xhr.send(
            json
        );

        if(document.getElementById("pfp_upload").files.length > 0) {
            console.log('request!')
            var formData = new FormData();
            formData.append('pfp_upload', document.getElementById("pfp_upload").files[0])
            var req = new XMLHttpRequest();
            formData.forEach((x) => console.log(x))
            req.open('POST', '/api/upload/profile_pic/');
            //req.setRequestHeader('Content-Type', 'multipart/form-data');
            req.send(formData);
        }
        /*var xhr = new XMLHttpRequest();
        xhr.open("POST", `/api/edit/usuario/{{user.username}}`, true); //TODO: quizas cambiar a PUT
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        var sex_valor;
        if(document.getElementById("sex-edit-f").checked) {
            sex_valor = 'F';
        } else {
            sex_valor = 'M';
        }

        xhr.send(`mail=${document.getElementById("mail-edit").value}&birth-date=${document.getElementById("birth-date-edit").valueAsDate}&sex=${sex_valor}`)
        */
        /*var xhr = new XMLHttpRequest();
        xhr.open("PUT", `/api/usuario/{{user.username}}`, true); //TODO: quizas cambiar a PUT
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        var sex_valor;
        if(document.getElementById("sex-edit-f").checked) {
            sex_valor = 'F';
        } else {
            sex_valor = 'M';
        }

        xhr.send(`mail=${document.getElementById("mail-edit").value}&birth-date=${document.getElementById("birth-date-edit").valueAsDate}&sex=${sex_valor}`)
        */

        document.getElementById('pfp_upload').style.display = "none";
        alternar("btn-editar-datos", "btn-guardar-datos", "block");
        location.reload();
    }

    function editar_filtros() {
        alternar("sex_interest", "sex_interest-edit", "inline-block");

        alternar("min_age", "min_age-edit", "inline-block");
        relevar_valor("min_age", "min_age-edit","text", "value");
        
        alternar("max_age", "max_age-edit", "inline-block");
        relevar_valor("max_age", "max_age-edit","text", "value");

        alternar("btn-editar-filtros", "btn-guardar-filtros", "inline-block");
    
        //cargar valor que estaba en sex_interest
        if(document.getElementById("sex_interest") == "M") {
            document.getElementById("sex-interest-edit-m").checked = true;
            document.getElementById("sex-interest-edit-f").checked = false;
        } else {
            document.getElementById("sex-interest-edit-m").checked = false;
            document.getElementById("sex-interest-edit-f").checked = true;
        }
    } 

    function enviar_filtros() {
        alternar("sex_interest", "sex_interest-edit", "inline-block");
        alternar("min_age", "min_age-edit", "inline-block");
        alternar("max_age", "max_age-edit", "inline-block");

        alternar("btn-editar-filtros", "btn-guardar-filtros", "inline-block");
    
        var xhr = new XMLHttpRequest();
        xhr.open("PUT", `/api/usuario/edit_filters/{{user.username}}`, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        var sex_valor;
        if(document.getElementById("sex-interest-edit-f").checked) {
            sex_valor = 'F';
        } else {
            sex_valor = 'M';
        }

        var json = JSON.stringify({
            sexo_interes: sex_valor,
            edad_min: document.getElementById("min_age-edit").value,
            edad_max: document.getElementById("max_age-edit").value
        });


        xhr.send(json);   
        location.reload();     
    }

    function relevar_valor(id_a, id_b, type_a, type_b) {
        var temp;

        //texto a fecha
        if(type_a == "text" && type_b == "date") {
            temp = document.getElementById(id_a).innerText;
            var nums = temp.split('/');
            console.log(`${nums[2]}/${nums[1] - 1}/${nums[0]}`)
            var date = new Date(`${nums[2]}/${nums[1]}/${nums[0]}`)
            console.log(date);
            document.getElementById(id_b).valueAsDate = date;
            return
        }
        //fecha a texto
        //TODO

        if(type_a == "value") {
            temp = document.getElementById(id_a).value;
        } else if(type_a == "date") {
            temp = document.getElementById(id_a).valueAsDate;
        } else { //text
            temp = document.getElementById(id_a).innerText;
        }

        if(type_b == "value") {
            document.getElementById(id_b).value = temp;
        } else if (type_b == "date") {
            document.getElementById(id_b).valueAsDate = temp; 
        } else {
            document.getElementById(id_b).innerText = temp;
        }

    }

    function alternar(id1, id2, type) {

        console.log(`valores actuales: ${id1}, ${id2}`)
        var st1 = document.getElementById(id1).style.display;
        var st2 = document.getElementById(id2).style.display;

        if(st1 == "none" || st1 == "") {
            document.getElementById(id1).style.display = type;
        } else {
            document.getElementById(id1).style.display = "none";
        }

        if(st2 == "none" || st2 == "") {
           document.getElementById(id2).style.display = type;
        } else {
           document.getElementById(id2).style.display = "none";
        }
    }

</script>

<div class="body-container">
    <div class="row">
        <div class="col-3">
            <div class="left-container">
                <img id="profile_pic" src="/img/profile_pics/{{user.username}}.png">
                <input type="file" id="pfp_upload" name="pfp_upload" style="display: none; position: relative; top: 7vh; left: 5%;">
                <div id="username">{{user.username}}</div>
            </div>
        </div>
        <div class="col-9">
            <div class="right-container">
                <div class="right-content">

                    <div class="panel-heading">Datos</div>
                    <div class="panel">
                        <div class="row">
                            <div class="col item-capsule">
                                <span class="item-title">Correo</span>
                                <span id="mail" style="display: inline-block;">{{datos.mail}}</span>
                                <input id="mail-edit" type="text" style="display: none;">
                            </div>
                            <!--
                            <div class="col item-capsule">
                                <span class="item-title">Contraseña</span>
                                <span id="password">{{datos.password}}</span>
                            </div> -->
                            <div class="col item-capsule">
                                    <span class="item-title">Fecha Nacimiento</span>
                                    <span id="birth_date" style="display: inline-block;">{{datos.birth_date}}</span>
                                    <input id="birth-date-edit" type="date" style="display: none;"> 
                            </div>

                            <div class="col item-capsule">
                                    <span class="item-title">Sexo</span>
                                    <span id="sex" style="display: inline-block;">{{datos.sex}}</span>
                                    <div id="sex-edit" style="display: none;">
                                        M
                                        <input type="radio" id="sex-edit-m" name="sex-edit" value="M">
                                        F
                                        <input type="radio" id="sex-edit-f" name="sex-edit" value="F">
                                    </div>
                                </div>
                        </div>
                        <button class="btn-editar" id="btn-editar-datos" onclick="editar_datos();" style="display: inline-block;">editar</button>
                        <button class="btn-guardar" id="btn-guardar-datos" onclick="enviar_datos();" style="display: none;">guardar</button>
                    </div>

                    <div class="panel-heading">Filtros</div>
                    <div class="panel">
                        <div class="row">
                            <div class="col item-capsule">
                                <span class="item-title">Interés en</span>
                                <span id="sex_interest" style="display: inline-block;">{{filtros.sex_interest}}</span>
                                <div id="sex_interest-edit" style="display: none;">
                                    M
                                    <input type="radio" id="sex-interest-edit-m" name="sex_interest-edit" value="M">
                                    F
                                    <input type="radio" id="sex-interest-edit-f" name="sex_interest-edit" value="F">
                                </div>
                            </div>
                            <div class="col item-capsule">
                                <span class="item-title">Edad mínima</span>
                                <span id="min_age" style="display: inline-block;">{{filtros.min_age}}</span>
                                <input type="number" id="min_age-edit" min="18" max="100" style="display:none;">
                            </div>
                            <div class="col item-capsule">
                                <span class="item-title">Edad máxima</span>
                                <span id="max_age" style="display: inline-block;">{{filtros.max_age}}</span>
                                <input type="number" id="max_age-edit" min="18" max="100" style="display:none;">
                            </div>
                        </div>
                        <button class="btn-editar" id="btn-editar-filtros" onclick="editar_filtros();" style="display: inline-block;">editar</button>
                        <button class="btn-guardar" id="btn-guardar-filtros" onclick="enviar_filtros();" style="display: none;">guardar</button>
                    </div>

                    <div class="panel-heading">Intereses</div>
                    <div class="panel">
                        <div class="row" id="panel-intereses">
                            {{{preferencias}}}
                            <!--<div class="col preference-capsule" id="preference_1">
                                <span class="preference-title">Mascotas</span>
                                <img class="preference_value" id="" src="/img/placeholder.png">
                                <a href="#" onclick="">
                                    <img class="edit_icon" src="/img/placeholder.png">
                                </a>
                            </div>
                            <div class="col preference-capsule" id="preference_2">
                                
                                <span class="preference-title">Playa</span>
                                <img class="preference_value" id="" src="/img/placeholder.png">
                                <a href="#" onclick="">
                                    <img class="edit_icon" src="/img/placeholder.png">
                                </a>
                            </div>-->
                        </div>

                        <button class="btn-editar" id="btn-editar-filtros" onclick="" style="display: inline-block;">editar</button>
                        <button class="btn-guardar" id="btn-guardar-filtros" onclick="" style="display: none;">guardar</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>